# Переменные окружения
.env

# Временные файлы
temp_audio_*.ogg
*.pyc
__pycache__/

# База данных SQLite
vocabulary.db
vocabulary.db-journal
vocabulary.db-shm
vocabulary.db-wal


# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log
bot.log

